# Operating System
.DS_Store
Thumbs.db

# IDE Settings
.vscode/
.idea/

# Environment Variables
.env

# Logs
*.log

# PostgreSQL Backup Files
*.backup
*.dump

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/